/* This file is for your main application css. */

.brand-logo{
  margin-left: 20px
}
.bigFont{
  font-size: 4.0rem;
}

/* Materialize CSS specific. */
nav ul a {
font-size: 1.5rem;
color: #FF8;
}
div label{
  font-size: 1.2rem;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    font-size: 1.5rem;
}
