<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Volt!" %></h2>
  <%= if @current_user do %>
    <p class="lead"><%= @current_user.email %>!!!</p>
  <% else %>
    <p class="lead">No User Set!!!</p>
  <% end %>
  <%= link "Users", to: user_path(@conn, :index) %>

</div>
